@import "globals";

form.add-color {
  display: flex;
  justify-content: space-between;
  margin: 1em;

  div {
    text-align: center;

    &:first-child {
      flex-grow: 1;
    }

    &:last-child {
      text-align: right;
    }
  }

}